<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified Bootstrap 3.4.1 CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/3/superhero/bootstrap.min.css">
    <link rel="stylesheet" href="./../public/css/main.css">
    <title>Blog</title>
</head>
<body>
    {{#if data.post}}
    <div class="row">
        <section class="main col-md-9">
            <article>
                <h2>{{data.post.title}}</h2>
                <img src="{{data.post.featureImage}}" alt="feature Image" style="width:100%" />
                <br /><br />
                {{#safeHTML}}{{data.post.body}}{{/safeHTML}}
                <br /><br />
                <strong>Category:</strong> {{data.post.category}}<br />
                <strong>Last Updated:</strong> {{data.post.postdate}}
            </article>
        </section>
        <aside class="col-md-3">
            {{#if data.posts}}
            <br /><br />
            <h4>Posts</h4>

            <ul class="list-group">
                {{#each data.posts}}
                <a href="/blog/{{this.id}}?category={{../viewingCategory}}" class="list-group-item">{{this.title}}</a>
                {{/each}}
            </ul>
            {{/if}}

            {{#if data.categories}}
            <br /><br />
            <h4>Categories</h4>

            <ul class="list-group">
                {{#each data.categories}}
                <a href="/blog?category={{this.id}}" class="list-group-item">{{this.name}}</a>
                {{/each}}
            </ul>
            {{/if}}
        </aside>
    </div>
    {{else}}
    <div class="col-md-12 text-center">
        <h2>{{data.message}}</h2>
        <p>Please try another Post / Category</p>
    </div>
    {{/if}}

    <!-- Latest compiled and minified jQuery 3.6.0 JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap 3.4.1 JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>
